<!DOCTYPE html>
<html>
<head>
<title>Minion Village</title>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/angular.min.js"></script>
<script src="js/main.js"></script>
<script src="js/classes/game.js"></script>
<script src="js/classes/building.js"></script>

</head>
<body ng-app="GameApp" ng-controller="GameController">


<div>Time: {{g.time}}</div>
<div>Population: {{g.minionCounts.all}}</div>
<div>Gold: {{g.gold}}</div>
<div>Knowledge: {{g.knowldge}}</div>
<div>Favor: {{g.favor}}</div>
<div>Boots: {{g.gear.boots}}</div>
<div>Blades: {{g.gear.blades}}</div>
<div>Rings: {{g.gear.rings}}</div>
<div>Shields: {{g.gear.shields}}</div>

<div>{{g.minions.hut.melee}}</div>
<div>{{g.minions.hut.ranged}}</div>
<div>{{g.minions.hut.cannon}}</div>
<div>Time until next minion: {{g.minionTime - g.timers.minion}}</div>

<div ng-repeat="(buildingName, minionMap) in g.minions">
  <div>{{buildingName}}</div>
  <div ng-repeat="(minionType, count) in minionMap">
    <div>{{minionType}}: {{count}}</div>
  </div>
</div>


</body>
